.idea/
firebase/functions/node_modules/
firebase/node_modules/
firebase2/functions/node_modules/.bin/mime
firebase2/functions/node_modules/.bin/mime.cmd
firebase2/functions/node_modules/
firebase2/node_modules/
*.DS_Store
playground/node_modules/
node_modules/
playground/dist/battle/js/test.js
playground/dist/js/script.min.js
playground/dist/battle/spines/Luna/luna.json
playground/src/battle/js/test.js
playground/dist/battle/spines/Luna/luna.json
playground/dist/js/script.min.js
playground/src/battle/js/test.js
playground/dist/battle/js/test.js
playground/dist/battle/data/projectiles/superLuna2.json
playground/dist/battle/data/projectiles/superLuna1.json
playground/dist/battle/data/projectiles/superLuna2.json
playground/dist/battle/data/projectiles/superLuna3.json
playground/dist/battle/spines/Luna/luna.json
playground/dist/battle/spines/Luna/luna_projectiles.json
playground/dist/js/script.min.js
playground/dist/js/script.min.js
playground/src/battle/js/test.js
playground/dist/js/script.min.js
playground/src/battle/js/test.js
playground/dist/battle/js/main.js
playground/dist/battle/js/test.js
playground/src/battle/js/test.js
playground/dist/battle/js/main.js
playground/dist/battle/js/scenes/yogoSelector.js
playground/dist/battle/js/test.js
playground/dist/client/index.html
playground/dist/clientGame/js/scenes/teamSelector.js
playground/dist/js/script.min.js
playground/src/battle/js/test.js
playground/dist/js/script.min.js
playground/src/battle/js/test.js
playground/dist/battle/js/test.js
playground/dist/battle/js/main.js
