html{
    height: 100%;
}

::-webkit-scrollbar {
  width: 2%;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px solid #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #b8b8b8;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px dotted #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.highlight{
    color: white;
}

@font-face{
	font-family: 'VAGRounded';
	src: url('../../fonts/VAGRoundedStd-Bold.otf');
}

.vagrounded-font{
	font-family: "VAGRounded";
	opacity: 0;
	height: 0%;
	width: 0%;
}

body{
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #18167a;
    overflow: hidden;
    font-family: 'Luckiest Guy', cursive !important;
/*    background:url("../images/stars01.png"), linear-gradient(to bottom, rgb(89,0,128) 0%,rgb(73,132,204)  100%);*/
    background:linear-gradient(to bottom, rgb(89,0,128) 0%,rgb(73,132,204)  70%);
    background-repeat: repeat;
    background-position: center;
}

.luky-font{
    font-family: 'Luckiest Guy', cursive !important;
    color: white;
}


.redBtn{
    background-image: url("../images/redButton.png");
    background-repeat: no-repeat;
    background-size: 100%;;
    background-position: 100% 30%;
    padding: 2vw;
    z-index: 56;
    cursor: pointer;
    color:#FFF;
    font-size: 2vh;
}

.operationType{
    text-align: left !important;
    position: absolute;
    left:20%;
    padding-top: 1vh !important;
}

.option1{

    background-color: #4719ac;
    padding: 0.4vw;
    width: 100%;
    text-align: center;
}
.option2{
    background-color: #ac199f;
    padding: 0.4vw;
    width: 100%;
    text-align: center;
}
.option3{
    background-color: #e23405;
    padding: 0.4vw;
    width: 100%;
    text-align: center;
}
.option4{
    background-color: #0096b6;
    padding: 0.4vw;
    width: 100%;
    text-align: center;
}

.greenBtn{
    background-image: url("../images/greenButton.png");
    background-repeat: no-repeat;
    background-size: 100%;;
    background-position: 100% 30%;
    padding: 2vw;
    z-index: 56;
    cursor: pointer;
    color:#FFF;
    font-size: 2vh;
}

.greenpink{
    background-image: url("../images/bgpink.png");
    background-repeat: no-repeat;
    background-size: 100%;;
    background-position: 100% 30%;
    padding: 2vw;
    z-index: 56;
    cursor: pointer;
    color:#FFF;
    font-size: 2vh;
}


#bgGradient{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    margin:0;
    background-image: url("../images/patternoptions.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

#logo{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 12;
}

.logoTour{
    padding: 2vh;
    width: 70%;
    max-width: 600px !important;

}

.objectsmain{
    position: absolute;
    width: 100%;
    height: 100% !important;
    left:0%;
    margin:0% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.object-center{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content:center;
    align-content: center;
    color:#FFF;
    top:30%;

}

.object-center div{
    text-align: center;
    padding: 2vw;
    margin: 1vw;
    font-size: 3vw;
    width: 100%;
    min-width: 100px
}


#mainText{
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0;
    text-align: center;
    color:#FFF;
    font-size: 1em;
}

.containerMainText{
    width: 30%;
    margin: 0 auto;
    max-width:500px;
    background-color: #9ffffa;
    padding: 2vh;
    border-radius: 2vw;
}

#mainText h1{
    color:#033d68;
    font-size: 4vh;

}
#mainText p{
    color:#00897f;
    font-size: 2.5vh;
    font-family: "VAGRounded";
}

#naoMain{
    position: absolute;
    bottom: 0;
    width: 50%;
    top: 50%;
    left: -3%;
    text-align: center;
}

#naoMain img{
    width: 60%;
    max-width: 350px;
}

#estrellaMain{
    position: absolute;
    bottom: 0;
    width: 50%;
    top: 50%;
    right: 0;
    text-align: center;
}


#estrellaMain img{
    width: 40%;
    max-width: 250px;
}



/*SECTION 2*/

#section1{
    display: block;
}

#section2{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.worlds{
    position: absolute;
    display: flex;
    transform: translate(-50%, 0%);
    left:50%;
}

#oonaMain{
    position: absolute;
    bottom: 0;
    width: 50%;
    margin: 0;
}

#oonaMain img{
    width: 100%;
    max-width: 350px;
}

#arturMain{
    position: absolute;
    bottom: 0;
    right: 0%;
    margin: 0%;
    width: 50%;
    text-align: right;
}


#arturMain img{
    width: 100%;
    max-width: 350px;
}

.textSubject{
    left:50%;
    transform: translate(-50%,0);
    font-size: 4.6vw !important;
    z-index: 100000;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}



.textSubject p{
    margin-top: 5% !important;
    font-family: 'VAGRounded';
}

.slider{
    z-index: 1213;
    position: absolute;
}

.menuSlider{
    position: absolute;
    width: 0%;
    left:0%;
    top:0%;
    transform: translate(-50%,-50%);
}


.navButtons{
    position: absolute;
    width: 100%;
    top: 80%;
    height: 20%;
    text-align: center;
    z-index: 12000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#createGame{
    cursor: pointer;
    transform: scale(0);
}
#joinGame{
    cursor: pointer;
    transform: scale(0);
}

#backButton1{
    cursor: pointer;
}


/*SECTION 3*/

#section3{
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    display: none;
}


#difficultyName{
    position: absolute;
    background-image: url("../images/bgdifficulty.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:60%;
    left:20%;
    text-align: center;
    font-size: 6vh;
    top: -10%;
}


.prevDifficulty{
    z-index: 12;
    margin-top:-1%;
    margin-left:0%;
    width: 10%;
}

.nextDifficulty{
    transform: scale(-1,1);
    z-index: 12;
    margin-top:-1%;
    margin-left: 15%;
    width: 10%;
}
.nextDifficulty img,
.prevDifficulty img{
    width: 70% !important;
}

.titlered{
    font-size: 2vw;
    width: 40%;
    height: 25%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: ab;
    text-align: center;
    background-image: url("../images/bgred.png");
    background-size: 70% !important;
    background-position: 50% 40% !important;
    background-repeat: no-repeat;
    color:#345468;
}

.containerRules{
    position: absolute;
    height: 60%;
    width: 60%;
    left:50%;
    z-index: 1;
    transform: translate(-50%,10%);
}

.rules{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left:50%;
    transform: translate(-50%,0%);
}



.optionsDifficulty{
    padding: 0 !important;
    background-color: #00f9ff;
    background-image: url("../images/patternCircles.png");
    background-repeat:repeat;
    background-position: center;
    height: 80% !important;
    border-radius: 0vw 0vw 3vw 3vw;
}



.iconDifficulty img{
    position: relative;
    padding: 4vw;
    width: 100%;
}


#backButton3{
}

.textRules{
    color:#144a99;
    font-size: 3vw;
}

.divisionShape{
    width: 0%;
    height: 70%;
    border-radius: 2vw;
    background-color: rgba(250,250,250,0.7);
}

.optionChoice{
    margin: 0 !important;
    font-size: 2vw;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionPink{
    background-color: #f220f2;
    font-size: 2vw;
    border:0.3vw solid #FFF;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionYellow{
    background-color: #edaa24;
    font-size: 2vw;
    border:0.3vw solid #FFF;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionGreen{
    background-color: #24ed5d;
    font-size: 2vw;
    border:0.3vw solid #FFF;
    height: 20%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.checkBlank{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBlank img{
    position: absolute;
    top: 20%;
}

#modalCancel,
#modalDifficulty{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}

.m-containerDifficulty{
    position: absolute;
    background: #c0b4fc;
    background-image: url("../images/patternCircles.png");
    background-size: 30%;
    width: 50%;
    height: 70%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.headerDifficulty{
    position: absolute;
    background-image: url("../images/bgtransparent.png");
    background-color: rgb(89,0,128);
    background-blend-mode: multiply;
    width: 100%;
    left:50%;
    height: 15%;
    transform: translate(-50%,0%);
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top:-10%;
    display: flex;
    align-content: center;
    justify-content:space-around;

}

.confirmOptions{
    position: absolute;
    background-image: url("../images/bgtransparent.png");
    background-color: rgb(89,0,128);
    background-blend-mode: multiply;
    width: 100%;
    left:50%;
    height: 15%;
    transform: translate(-50%,0%);
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom:-15%;
    display: flex;
    align-content: center;
    justify-content:space-around;    
}

.confirmOptions .greenBtn{

    width: 100%;
    background-size: contain;
    position: absolute;
    text-align: center;
    background-position: center;
    padding: 0.5vw;
    top:0%;
    font-size: 3vw;
    left:0;
}

.closeButton{
    height: 80%;
    position: absolute;
    top:10%;
    right: 0%;
    z-index: 30000;
}

.headerDifficulty p{
    position: absolute;
    top: 50%;
    transform: translate(0%, -30%);
    font-size: 2vw;
    text-align: center;
    width: 100%;
    z-index: 20000;
    left:0;
}
.choiceOptions{
    top:10%;
    position: absolute;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.optionOperations{
    font-size: 3vh;
    font-family: "VAGRounded";
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1vw;

}

.operation{
    margin-left: 0%;
    text-align: center;
    width: 100%;
    color:#3523b3;
}


.optionPar{
    background-color: rgba(168, 157, 249,0.7);
}

.checkChoice{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.checkChoice img{
    position: absolute;
}

/*SECTION 3*/

#section4{
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    top:0;
}

.containerCustomize{
    background-image: url("../images/patternCircles.png");
    background-color: #cc00ff;
    border-radius: 2vw;
    height: 110%;
}

.optionsTime{

    text-align: center;
    height: 100%;
}

.optionsRounds{
    text-align: center;
    height: 100%;
}

.bgYellow{
/*    background-image: url("../images/bgyellow.png");*/

    width: 100%;
    background-repeat: no-repeat;
    font-size: 5vw;
    background-size: contain;
    background-position: center;
    color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 1vw;
}

.bgPurple{
    background-image: url("../images/bgPurple.png");
    width: 100%;
    background-repeat: no-repeat;
    font-size: 3vw;
    background-size: contain;
    background-position: center;
    color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 3vw;
    padding: 1vw;

}

.timeOptions{
    font-size: 3vw;
}


#restRound{
    transform: scale(-1,1);
}

/*SECTION 5*/

#section5{
    position: absolute;
    width: 100%;
    left:0%;
    height: 100%;
    display: none;
}

.containerPin{
    position: absolute;
    width: 100%;
    height: 100%;
    top:38%;
    z-index: 1234123;
    background-color: #00ff78;
    background-image: url("../images/patternCircles.png");
    border-radius:  0 0vw 2vw 2vw;
}

.bgGreen{
    background-image: url("../images/bggreen.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    margin-top: -15%;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    color:#FFF;
    padding: 1vw;
}

.bgpink{
    background-image: url("../images/bgpink.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    margin-top: -15%;
    font-size: 2vw;
    position: absolute;
    text-align: center;
    color:#FFF;
}

.bglooby{
    width: 40%;
}

#pin{
    background-color: #FFF;
    color:#006837;
    font-size: 4vw;
    margin-top: 10%;
    width: 50%;
    margin-left:50%;
    transform: translate(-50%,0);
    text-align: center;
    border-radius: 2vw;
}

.textShare{
    text-align: center;
    padding: 1vw;
    font-size: 1.5vw;
    color:#184831;
}

.yogotarsSelections{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0%;
    margin: 0px !important;
    padding: 0 !important;

}

.yogotarNameSelect{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yogotarNameSelect .imageYogotar{
    width: 50%;
    height: 20%;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#NameYogotarplayer1 {
    width: 30%;
    transform: translate(-65%,0%);
    opacity: 0;
}

#NameYogotarplayer2 {
    width: 30%;
    transform: translate(65%,0%);
    opacity: 0;
}

#playerName1{
    width: 40%;
    font-size: 3vw;
    transform: translate(-23%,0%);
}

#playerName2{
    width: 40%;
    font-size: 3vw;
    transform: translate(23%,0%);
}

.yogotarSelect{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yogotarSelect .imageYogotar{
    width: 50%;
}

.imageYogotar img{
    width: 50%;
}

.playerName{
    width: 50%;
    font-size: 1vw;
    color:#184831;
}

#player1{
    left:0%;
}

#player2{
    left:0%;
    transform: scale(-1,1);
}

#StartButton{
    color: #FFF;
}

.lock .planetImage{
    filter: brightness(20%) ;

}

.lock span{
    position: absolute;
    margin-left: 145px;
    margin-top:145px;
    z-index: 1;
    
}

.bgtitle{
    width: 100%;
    text-align: center;
    font-size: 8vh;
    background-image: url("../images/bgtitle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color:#FFF;
}

.showModal{
   transform: translate(50%,30%);
    width: 30%;
}

.showModal span{
    position: absolute;
    font-size: 1.2vw;
    display: flex;
    text-align: center;
    justify-content: center;   
    z-index: 2;
}

.showModal img{
    transform: translate(-45%,-30%);
    width: 70%;
}

#cancelLooby{
    width: 100%;
    z-index: 1;
    
}
#cancelLooby img{
    width: 50%;
    margin-top: -10%;
    
}

.m-containerCancel{
    position: absolute;
    background: #ff9c9e;
    background-size: 30%;
    width: 50%;
    height: 50%;
    border-radius: 3vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.headerClose{
    height: 20%;
    position: absolute;
    left: 10%;
}

.textModalCancel{
    position: relative;
    color:#c20009;
    width: 80%;
    left:50%;
    top:50%;
    transform: translate(-50%,-80%);
    font-size: 4vh;
    text-align: center;
}

#cancelButton{
    width: 100%;
    background-size: contain;
    position: absolute;
    text-align: center;
    background-position: center;
    top:80%;
    font-size: 3vh;
}

#animation1{
    height: 100%;
}

.planetImage{
    
}
#roundOptions,
#timeClock{
    font-size: 2.5vw;
    padding: 3vw;
}

#roundOptions img,
#timeClock img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
    width: 28%;
}

.timeOptions img{
    width: 100%;
    min-width: 20px;
}

.scaleButton{
    cursor:pointer;
}
