@mixin triangle($border-pos, $position, $height, $triangle-position) {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-#{$border-pos}: solid ($height / 2) $color-header;
  border-top: solid ($height / 2) transparent;
  border-bottom: solid ($height / 2) transparent;
  position: absolute;
  #{$position}: -$triangle-position;
}

@mixin img-border($color) {
  transform: scaleX(-1);
  filter: drop-shadow(5px 5px 0 $color) drop-shadow(-5px -5px 0 $color)
    drop-shadow(-5px 5px 0 $color) drop-shadow(5px -5px 0 $color);
}
