.container--customize {
  width: 600px;
  .item {
    width: 100%;
    .customize__header {
      position: relative;
      font-size: 40px;
      text-shadow: 0 0 10px #000000;
      line-height: 40px;
      z-index: 1;
      &::after {
        content: '';
        width: 115%;
        height: 250%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/mathtournament-onboarding-subject-header.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }
    }
    .customize__container {
      width: 100%;
      .customize__row {
        width: 90%;
        margin: 0 auto;
        background-color: #f9f3d1;
        background-image: url(../img/mathtournament-onboarding-board-tile.png);
        background-size: 150px;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        .customize__col {
          margin: 10px;
          position: relative;
          width: 90%;
          margin: 0 auto;
          height: 65px;
          font-size: 25px;
          z-index: 5;
          .background  {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../img/mathtournament-onboarding-text-line.png);
            background-size: 100%;
            background-repeat: no-repeat;
            z-index: 1;
          }
          button {
            display: inline-block;
            height: 100%;
            border: none;
            background-color: transparent;
            img {
              height: 100%;
              vertical-align: middle;
            }
          }
          .option {
            text-shadow: 0 0 5px #000000;
            display: inline-block;
          }
          input {
            display: inline-block;
            text-align: center;
            font-size: inherit;
            color: black;
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
          }
        }
      }
    }
  }
}
