.modal {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 2;

  .borde {
    position: absolute;
    padding: 10px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 500px;

    .modal__container {
      position: relative;
      padding: 10px 40px;
      background-color: #fff;
      border-radius: 10px;
      width: 100%;
      font-family: 'VAGRoundedStd Bold', sans-serif;
      .close {
        display: inline-block;
        width: 70px;
        height: 70px;
        position: absolute;
        top: -45px;
        right: -40px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
      header {
        text-align: center;
        border-bottom: 3px solid transparent;
        padding-bottom: 10px;
        margin-bottom: 15px;
        h2 {
          @include text-border;
          font-size: 45px;
        }
        p {
          font-size: 25px;
          color: #000000;
        }
      }
      .modal__list {
        max-height: 250px;
        margin-bottom: 30px;
        overflow: auto;
        li {
          padding: 10px;
          border-radius: 5px;
          list-style: none;
          label {
            color: #000000;
            font-size: 25px;
            margin-left: 10px;
            cursor: pointer;
            input {
              display: none;
              &:checked + span {
                border: 2px solid rgb(0, 128, 0);
                background-color: rgb(0, 181, 0);
                &::after {
                  content: '';
                  position: absolute;
                  top: 2px;
                  left: 5px;
                  height: 75%;
                  width: 45%;
                  border-radius: 3px;
                  border-right: 4px solid;
                  border-bottom: 4px solid;
                  border-color: rgb(255, 255, 255);
                }
              }
            }
            span {
              position: relative;
              width: 10px;
              margin-right: 20px;
              display: inline-block;
              width: 25px;
              height: 25px;
              background-color: #7f7a93;
              transform: rotate(45deg);
              border: 2px solid #fff;
              border-radius: 7px;
              vertical-align: text-bottom;
              transition: all 0.5s ease;
            }
          }
        }
      }
      .modal__btn {
        outline: none;
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 110px;
        height: 130px;
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        img {
          width: 100%;
        }
      }
    }
  }
  /*SCROLL*/
  /* width */
  ::-webkit-scrollbar {
    width: 10%;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-image: url(../img/mathtournament-onboarding-slider-bar.png);
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: center;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    // border-radius: 50%;
    background-image: url('../img/scroll_track.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 5%;
  }
}

/**************************************
 ********* Modal Addition *************
 **************************************/
.modal--addition {
  .borde {
    background-color: #72dae6;
    .modal__container {
      header {
        -moz-border-image: url(../img/mathtournament-onboarding-add-header.png)
          1; /* Old firefox */
        -webkit-border-image: url(../img/mathtournament-onboarding-add-header.png)
          1; /* Safari */
        -o-border-image: url(../img/mathtournament-onboarding-add-header.png) 1; /* Opera */
        border-image: url(../img/mathtournament-onboarding-add-header.png) 1;
      }
      .modal__list {
        li:nth-child(odd) {
          background-color: #e3f1f1;
        }
        @include first-li;
      }
    }
  }
}

/**************************************
 ********* Modal Substraction *********
 **************************************/
.modal--substraction {
  .borde {
    background-image: linear-gradient(135deg, #d26c42, #a33065);
    .modal__container {
      header {
        -moz-border-image: url(../img/mathtournament-onboarding-sub-header-line.png)
          1; /* Old firefox */
        -webkit-border-image: url(../img/mathtournament-onboarding-sub-header-line.png)
          1; /* Safari */
        -o-border-image: url(../img/mathtournament-onboarding-sub-header-line.png)
          1; /* Opera */
        border-image: url(../img/mathtournament-onboarding-sub-header-line.png)
          1;
      }
      .modal__list {
        li:nth-child(odd) {
          background-color: #f9eae1;
        }
        @include first-li;
      }
    }
  }
}

/**************************************
 ********* Modal Multiplication *******
 **************************************/
.modal--multiplication {
  .borde {
    background-image: linear-gradient(135deg, #d0337c, #8f2d6f);
    .modal__container {
      header {
        -moz-border-image: url(../img/mathtournament-onboarding-multi-header.png)
          1; /* Old firefox */
        -webkit-border-image: url(../img/mathtournament-onboarding-multi-header.png)
          1; /* Safari */
        -o-border-image: url(../img/mathtournament-onboarding-multi-header.png)
          1; /* Opera */
        border-image: url(../img/mathtournament-onboarding-multi-header.png) 1;
      }
      .modal__list {
        li:nth-child(odd) {
          background-color: #f8e0eb;
        }
        @include first-li;
      }
    }
  }
}

/**************************************
 ********* Modal Division *************
 **************************************/
.modal--division {
  .borde {
    background-image: linear-gradient(135deg, #51428c, #2b204b);
    .modal__container {
      header {
        -moz-border-image: url(../img/mathtournament-onboarding-div-header.png)
          1; /* Old firefox */
        -webkit-border-image: url(../img/mathtournament-onboarding-div-header.png)
          1; /* Safari */
        -o-border-image: url(../img/mathtournament-onboarding-div-header.png) 1; /* Opera */
        border-image: url(../img/mathtournament-onboarding-div-header.png) 1;
      }
      .modal__list {
        li:nth-child(odd) {
          background-color: #e9e0fc;
        }
        @include first-li;
      }
    }
  }
}

/**************************************
 ********* Modal Lobby ****************
 **************************************/
.modal--lobby {
  .borde {
    width: 600px;
    background-color: #fff;
    position: relative;
    .modal__container {
      padding: 10px;
      position: relative;
      height: auto;
      background-image:  url(../img/mathtournament-onboarding-bg-tile.png), linear-gradient(#430C66, #0C022A 40%);
      .img-container {
        position: relative;
        width: 100%;
        height: 300px;
        img {
          width: 45%;
          position: absolute;
          top: 60%;
          transform: translateY(-50%);
          &:first-child {
            left: -35px;
          }
          &:last-child {
            width: 50%;
            right: -60px;
          }
        }
      }
      h2 {
        width: 100%;
        text-align: center;
        font-size: 60px;
        margin-bottom: 50px;
      }
    }
  }
}

/**************************************
 ********* Modal Warning **************
 **************************************/
 .modal--warning {
   .borde {
     background-image: linear-gradient(#C94E42, #B43754);
     width: 250px;
     .modal__container {
       background-color: transparent;
       text-align: center;
       padding: 10px;
       h2 {
         @include text-border;
         padding: 10px;
       }
       p {
         font-family: 'VAGRounded Thin', sans-serif;
         letter-spacing: 1px;
         line-height: 25px;
       }
     }
   }
 }

/**************************************
 ********* Media Queries **************
 **************************************/
@media only screen and (max-width: 991px) {
  .modal {
    .borde {
      // top: 50%;
      width: 80%;
      .modal__container {
        padding: 10px 20px;
        .close {
          width: 60px;
          height: 60px;
          top: -35px;
          right: -35px;
          &::after {
            top: 18px;
            left: -4px;
            font-size: 60px;
          }
        }
        header {
          padding-bottom: 5px;
          margin-bottom: 10px;
          h2 {
            font-size: 35px;
          }
          p {
            font-size: 23px;
          }
        }
        .modal__list {
          height: 120px;
          margin-bottom: 20px;
          li {
            padding: 7px;
            label {
              font-size: 23px;
              margin-left: 5%;
              span {
                margin-right: 10%;
              }
            }
          }
        }
        .modal__btn {
          width: 80px;
          height: 80px;
          bottom: -40px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .modal {
    .borde {
      .modal__container {
        padding: 5px 20px;
        .close {
          width: 50px;
          height: 50px;
          top: -35px;
          right: -35px;
          &::after {
            top: 15px;
            left: -4px;
            font-size: 50px;
          }
        }
        header {
          padding-bottom: 0;
          margin-bottom: 5px;
          h2 {
            font-size: 3opx;
          }
          p {
            font-size: 20px;
          }
        }
        .modal__btn {
          width: 70px;
          height: 70px;
          bottom: -40px;
        }
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .modal {
    .borde {
      top: 50%;
      padding: 7px;
      .modal__container {
        padding: 5px 10px 5px 10px;
        .close {
          border-radius: 7px;
          width: 40px;
          height: 40px;
          top: -25px;
          right: -25px;
          &::after {
            top: 11px;
            left: -3px;
            font-size: 40px;
          }
        }
        header {
          padding-bottom: 0;
          margin-bottom: 3px;
        }
        .modal__list {
          height: 120px;
          margin-bottom: 20px;
          li {
            padding: 5px;
            label {
              font-size: 23px;
              margin-left: 5%;
              span {
                margin-right: 5%;
              }
            }
          }
        }
        .modal__btn {
          width: 60px;
          height: 60px;
          bottom: -20px;
        }
      }
    }
  }
}
