.item {
  display: inline-block;
  position: relative;
  width: 25%;

  &__header {
    width: 400%;
    line-height: $teams-header-height;
    font-size: 45px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    position: absolute;

    span {
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  &__avatar {
    margin-top: ($teams-header-height + 40px);
    img {
      width: 100%;
    }
  }
}

.item--left {
  float: left;
  left: 50px;

  .item__header {
    background-color: #f3246d;
    right: 10%;
    text-align: right;

    span {
      background-image: url(../img/mathtournament-onboarding-alfa-team.png);
      background-position: top right;
      right: -20%;
    }
  }

  img {
    @include img-border(#ff65a5);
  }
}

.item--middle {
  .item__textbox {
    position: absolute;
    top: 90px;
    width: 100%;
  }

  .item__buttons {
    top: 330px;
  }
}

.item--right {
  float: right;
  right: 50px;

  .item__header {
    background-color: #24d5f9;
    left: 10%;
    text-align: left;

    span {
      background-image: url(../img/mathturnament-onboarding-bravo-team.png);
      background-position: top left;
      left: -20%;
    }
  }

  img {
    @include img-border(#65d5fb);
  }
}

/**************************************
 ********* Media Queries **************
 **************************************/

@media only screen and (max-width: 992px) {
  .item {
    &__header {
      line-height: $teams-header-height-992;
      font-size: 35px;
    }

    &__avatar {
      margin-top: ($teams-header-height-992 + 30px);
    }
  }
}

@media only screen and (max-width: 768px) {
  .item {
    &__header {
      line-height: $teams-header-height-768;
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 644px) {
  .item {
    &__header {
      font-size: 25px;
      line-height: 35px;
    }

    &__avatar {
      margin-top: 60px;
    }
  }

  .item--left {
    left: 25px;
    img {
      filter: drop-shadow(3px 3px 0 #ff65a5) drop-shadow(-3px -3px 0 #ff65a5)
        drop-shadow(-3px 3px 0 #ff65a5) drop-shadow(3px -3px 0 #ff65a5);
    }
  }

  .item--right {
    right: 25px;
    .item__header {
      left: 0;
      span {
        left: -17%;
      }
    }

    img {
      filter: drop-shadow(3px 3px 0 #24d5f9) drop-shadow(-3px -3px 0 #24d5f9)
        drop-shadow(-3px 3px 0 #24d5f9) drop-shadow(3px -3px 0 #24d5f9);
    }
  }
}
