.item__logo {
  width: 100%;
  img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

/**************************************
 ********* Media Queries **************
 **************************************/

@media only screen and (max-width: 991px) {
  .item__logo {
    img {
      width: 50%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .item__logo {
    img {
      width: 60%;
    }
  }
}
@media only screen and (max-width: 575px) {
  .item__logo {
    img {
      width: 50%;
    }
  }
}
