.item__textbox {
  position: relative;
  max-width: 300px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto 0;
  background-image: linear-gradient(135deg, #e6a548 2%, rgb(219, 120, 66) 50%);
  &::after {
    content: '';
    box-sizing: border-box;
    background-origin: border-box;
    position: absolute;
    top: -22px;
    left: -19px;
    background-image: url(../img/mathtournament-onboarding-text-box.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px;
    width: 50px;
    height: 60px;
    z-index: -1;
  }

  &__container {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
}

/**************************************
 ********* Media Queries **************
 **************************************/

@media only screen and (max-width: 991px) {
  .item__textbox {
    margin-top: 10px;
    padding: 7px;
    max-width: 250px;
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  .item__textbox {
    max-width: 200px;
    &__container {
      padding: 2px;
    }
  }
}
@media only screen and (max-width: 575px) {
  .item__textbox {
    padding: 5px;
    &__container {
      padding: 0;
    }
  }
}
