$height-header: 60px;
$height-header-992: 40px;

$teams-header-height: 75px;
$teams-header-height-992: 55px;
$teams-header-height-768: 45px;

$triangle-pos: 35px;
$triangle-pos-992: 20px;

$color-header: #3f154b;

$color-pin: #070634;

$team-strip-width: 50%;
$team-strip-height: 100%;
