
/**************************************
 ********* Media Queries **************
 **************************************/

@media only screen and (max-width: 992px) {
  .container__item--middle {
    .container__item__buttons {
      top: 270px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container__item--middle {
    max-width: 250px;
    .container__item__buttons {
      top: 260px;
    }
  }
}

@media only screen and (max-width: 644px) {
  .container__item--middle {
    width: 35%;
    .container__item__buttons {
      top: 230px;
    }
  }
}

// @media only screen and (max-width: 768px) and (orientation: portrait) {
//   .main {
//     .bubbles-up {
//       animation: none;
//     }
//     .bubbles-down {
//       animation: none;
//     }
//   }
//   .header {
//     h1 {
//       width: 150px;
//       font-size: 30px;
//       line-height: $height-header-992;
//       &::after {
//         @include triangle(left, right, $height-header-992, $triangle-pos-992);
//       }
//       &::before {
//         @include triangle(right, left, $height-header-992, $triangle-pos-992);
//       }
//     }
//   }
//   .container {
//     padding-top: 40px;
//     position: absolute;
//     &__item {
//       display: block;
//       position: relative;
//       padding: 5px;
//       width: 100%;
//       float: none;
//       overflow: hidden;
//       &__header {
//         position: absolute;
//         font-size: 20px;
//         display: inline;
//         span {
//           transform: scaleX(-1);
//           background-size: cover;
//           width: 300px;
//         }
//       }
//       &__avatar {
//         display: inline;
//         margin: 0;
//         img {
//           width: 100px;
//         }
//       }
//     }
//   }
//   .container__item--left {
//     left: 0;
//     .container__item__header {
//       width: 150px;
//       right: 10px;
//       float: right;
//       background-color: transparent;
//       span {
//         right: -90px;
//       }
//     }
//     .container__item__avatar {
//       float: left;
//     }
//     img {
//       filter: drop-shadow(3px 3px 0 #ff65a5) drop-shadow(-3px -3px 0 #ff65a5)
//         drop-shadow(-3px 3px 0 #ff65a5) drop-shadow(3px -3px 0 #ff65a5);
//     }
//   }
//   .container__item--middle {
//     padding: 0;
//     max-width: 400px;
//     margin: 0 auto;
//     width: 90%;
//     .container__item__pin {
//       position: static;
//       top: 0;
//       &__container {
//         p {
//           font-size: 20px;
//         }
//       }
//     }
//     .container__item__buttons {
//       position: static;
//       .container__item__btn {
//         float: none;
//         display: inline-block;
//       }
//     }
//   }
//   .container__item--right {
//     right: 0;
//     .container__item__header {
//       width: 150px;
//       float: left;
//       left: 10px;
//       bottom: 20px;
//       background-color: transparent;
//       span {
//         left: -70px;
//       }
//     }
//     .container__item__avatar {
//       float: right;
//     }
//     img {
//       filter: drop-shadow(3px 3px 0 #24d5f9) drop-shadow(-3px -3px 0 #24d5f9)
//         drop-shadow(-3px 3px 0 #24d5f9) drop-shadow(3px -3px 0 #24d5f9);
//     }
//   }
// }
