  body {
            overflow: hidden;
            margin: 0;
            padding: 0;
            display: flex;
            background:url("../img/stars01.png"),  linear-gradient(to bottom, rgba(127,0,138,1) 5%, rgba(21,5,89,1) 20%);
        }
          
          .animationHex{
              position: relative;
              margin: 0;
              overflow: hidden;
              padding: 0;
              width: 384px;
              height: 1080px;
              background:linear-gradient(to bottom, #ff1e79 0%, #2ad8ff 20%, #ff1e79 100%);
              background-repeat: repeat-y;
              background-size: 100% 200%;
              animation: Gradient 15s ease infinite;
          }

          @keyframes Gradient{
             0% {
                    background-position: 100% 350%
                }
                50% {
                    background-position: 100% 0%
                }
                100% {
                    background-position: 0% 350%
                }
      
          }

         #teamLogo,
          #logoCuantrix{
              background: none;
              position: absolute;
              z-index: 1;
              top: 50%;
              transform: translate(0,-50%);
              width: 90%;
              left: 5%;
              animation: logoAnimation 3s ease infinite;
          }
          
          @keyframes logoAnimation{
              0% {
                    width: 90%;
                  left: 5%;
                }
              
                50% {
                    width: 100%;
                    left: 0%;
                }
                100% {
                   width : 90%;
                    left: 5%;
                }
          }
          
        #animation5 #reticula,
        #animation1 #reticula{
             filter: contrast(100%) opacity(50%);
          }
          
          
          .gradient--green{
              position: absolute;
              width: 384px;
              height: 0px;
              background: linear-gradient(to bottom, rgba(0,255,0,0) 0%, rgba(0,255,0,1) 100%);
          }        
          
          .gradient--red{
              position: absolute;
              width: 384px;
              height: 0px;
              background: linear-gradient(to bottom, rgba(189, 16, 0,0) 0%, rgba(189, 16, 0,1) 100%);
          }
          
          .svgYogotar{
              margin: 0;
              padding: 0;
          }  
          
          .wrong--icon,
          .correct--icon{
              position: absolute;
              top: 0px;
              width: 384px;
              text-align: center;
              opacity: 0;
          }
          
          .wrong--icon img,
          .correct--icon img{ 
              width: 80%;
          }
          
          
          .yogotar{
              position: absolute;
              top: 0px;
              overflow: hidden;
              width: 384px;
              height: 1080px;
              text-align: center;
          }      
          
          .yogotar img{
              position: absolute;
              width: 235%;
              top: 1080px;
              transform: translate(-28%,22%);
              
          }  
          
          video{
              position: absolute;
              margin: 0;
              padding: 0;
              width: 380px;
              left: 384px;
              top:20px;
          }
