
.menu-container{
    background-color: #4595c0;
    padding: 1% 0;
}

.banner{
    margin: 0 1%;
    
}

.condition-header{
    text-align: center;
    margin: 0 10%;
    font-size: 6vh;
}

.condition-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.more-time{
    background-image: url(../images/time_more.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    padding: 7%;
}

.less-time{
    background-image: url(../images/time_less.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    padding: 7%;
}

.less-rounds{
    background-image: url(../images/time_less.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    padding: 7%;
    transform: scaleX(-1);
}

.more-rounds{
    background-image: url(../images/time_more.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    padding: 7%;
}

.round-image{
    background-image: url(../images/round.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    font-size: 8vh;
    padding: 4%;
}

.round-image p{
    margin: 0;
    transform: translateY(11%);
}

.round{
    
}

.time-image{
    background-image: url(../images/clock.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    padding: 15%;
    font-size: 4vh;
}

.time-image p{
    margin: 0;
    transform: translateY(25%);
}

.title-container{
     background-color: darkseagreen;
}

.bottom-container{
     background-color: lightskyblue;
}



@media screen and (orientation: portrait) {
    
    #portrait {
        display: block;
    }

    #landscape {
        display: none;
    }
}

/*-----Landscape-----*/

@media screen and (orientation : landscape){
    
    #portrait {
        display: none;
    }

    #landscape {
        display: block;
    }
    
    .menu-container {
        height: 60vh;
        margin-top: 0;
    }

   

    .condition-header{
        font-size: 4vw;
        margin-top: 0;
    }

    .green-btn, .red-btn {
        
    }

    .time-image{
        padding: 17%;
        font-size: 5vh;
        margin: 0 0%;
    }
    
    .more-rounds,
    .less-rounds{
        margin: 0;
    }
    
    .round-image{
        font-size: 6vw;
    }
    
    .round-image p{
        margin: 0;
        transform: translateY(11%);
    }
    
    .object-center{
        margin-left: 15%;
        bottom: 1%
    }
    
    .banner{
        margin-top: 1%;
    }
}



