
.menu-container{
    background-color: #cc00ff;
    padding: 1% 0;
    height: 65%;
}

.banner{
    margin: 0 1%;
    margin-top: 3%;
}

.condition-header{
    text-align: center;
    margin: 0 10%;
    font-size: 9vw;
    margin-top: 5%;
}

.condition-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.more-time{
    background-image: url(../images/time_more.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    margin: 0 10%;
    padding: 10%;
}

.less-time{
    background-image: url(../images/time_less.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    margin: 0 10%;
    padding: 10%;
}

.more-rounds{
    background-image: url(../images/round_arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    margin: 0 6%;
    padding: 10%;
    transform: scaleX(-1);
}

.less-rounds{
    background-image: url(../images/round_arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    margin: 0 6%;
    padding: 10%;
}

.round-image{
    background-image: url(../images/round.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    font-size: 15vw;
    padding: 0 10%;
}

.round-image p{
    margin: 0;
    transform: translateY(11%);
}

.round{
    
}

.time-image{
    background-image: url(../images/clock.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    padding: 50%
}

.object-center{
    margin:  0;
}

.title-container{
     background-color: darkseagreen;
}

.bottom-container{
     background-color: lightskyblue;
}



@media screen and (orientation: portrait) {
    
    #portrait {
        display: block;
    }

    #landscape {
        display: none;
    }
}

/*-----Landscape-----*/

@media screen and (orientation : landscape){
    
    #portrait {
        display: none;
    }

    #landscape {
        display: block;
    }
    
    .menu-container {
        height: 55%;
        margin-top: 0;
    }

    .less-time{
        padding: 10%;
    }

    .condition-header{
        font-size: 4vw;
        margin-top: 0;
    }

    .green-btn, .red-btn {
        margin: 0 5%;
    }

    .time-image{
        padding: 25%;
    }
    
    .round-image{
        font-size: 7vw;
        padding: 11% 10%;
        transform: scale(1.4);
    }
    
    .round-image p{
        margin: 0;
        transform: translateY(11%);
    }
    
    .object-center{
        margin-left: 15%;
    }
    
    .banner{
        margin-top: 1%;
    }
}



