

.banner{
    margin: 0 1%;
}

.pin-container{
    width: 100%;
    align-items: center;
    text-align: center;
}

.pin-title{
    background-image: url("../images/titlePin.png");
    background-repeat: no-repeat;
    background-size: 90% 100%;
    padding-top: 2vw;
    background-position: center;
    text-align: center;
    margin: 0% 5%;
    font-size: 9vw;
}

.object-center{
    margin: 0;
    justify-content: space-around;
    align-items: center;
}

.warning{
    padding: 0 10%;
}

.warning img{
    transform: scale(3);
}

.pin-body{
    align-items: center;
    background-color: #00ff78;
    background-image: url("../images/dots.png");
    text-align: center;
    margin: 0 10%;
    border-radius: 6vw;
}

.pin-style{
    background-color: white;
    padding-top: 5%;
    font-size: 15vw;
    color: #006837;
    margin: 0% 10%;
    transform: translateY(10%);
    border-radius: 6vw;
}

.share-style{
    font-size: 4vw; 
    margin: 5%;
        margin-bottom: 0;
    color: #184831;
}


.yogo-container{
    margin-top: 5%;
    font-size: 4vw;
}



@media screen and (orientation: portrait) {
    
    #portrait {
        display: block;
    }

    #landscape {
        display: none;
    }
}


/*-----Landscape-----*/

@media screen and (orientation : landscape){
    
    #portrait {
        display: none;
    }

    #landscape {
        display: block;
    }
    
    .red-btn,
    .green-btn{
      font-size: 3vw;
    }

    .pin-title{
        padding-top: 0.5vw;
        font-size: 5vw;
        margin: 0 22%;
    }

    .pin-body{
       margin: 0 25%;
    }

    .pin-style{
        padding-top: 2vw;
        font-size: 5vw;
    }

    .share-style{
        font-size: 3vw;
    }

    .object-center{
       margin-left: 15%;
    }
    
    .warning img {
        transform: scale(1);
    }
    
    .yogo-container{
        margin-top: 10%;
        font-size: 2vw;
    }
    
    .yogo-oona, 
    .yogo-arturius {
        width: 25%;
    }
    
    .yogo-arturius,
    .yogo-oona{
        transform: translateX(0);
    }
}






