html{
    height: 100%;
}

body{
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #18167a;
    overflow: hidden;
    background:linear-gradient(to bottom, #240034 20%,#2d5380  100%);
        100%);
    background-repeat: repeat;
    background-position: center;
}

#bgGradient{
    
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    margin:0;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}


#logo{
    width: 100%;
    margin: 5% 0;
}

.logoTour{
    padding: 3vw;
    width: 100%;
    max-width: 900px !important;
}

.object-left{
    
    background-image: url("../images/tower-left.png");
    transform: scale(1.5);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 25%;
    left: -15%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

.object-right{
    
    background-image: url("../images/tower-right.png");
    transform: scale(1.5);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 25%;
    right: -15%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.object-center{
    width: 100%;
    text-align: center;
    margin: 5% 0;
    display: flex;
    position: absolute; 
    bottom: 1%;
}

.yogo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yogo-nao{
    
    background-image: url("../images/nao.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 30%;
}

.yogo-estrella{
    
    background-image: url("../images/estrella.png");
    position: absolute;
    height: 100%;
    width: 100%;
    right: 30%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

.yogo-oona,
.yogo-arturius{
    
    width: 50%;
    text-align: center;
    bottom: 0%;
}

.yogo-oona img{
    width: 80%;
    
}

.yogo-arturius img{
    width: 60%;
}

.yogotar{
    position: absolute;
    width: 50%;
    top: 20%;
    transform: scale(1.5);
}

.yogotar img{
    width: 100%;
    max-width: 250px;
}

.container{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left:0%;
    margin:0% !important;
    justify-content: space-around;
    align-items: center;
}

.menuBtn {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    display:inline-block;
    position: relative;
    cursor:pointer;
    width: 100%;
    text-align: center;
}

.green-btn{
    background-image: url("../images/greenButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border-style: none;
    padding: 4vw;
    padding-top: 6vw;
    cursor: pointer;
    color:#FFF;
    font-size: 8vw;
    margin: 2% 5%;
    width: 40%;
    z-index: 10;
}

.pink-btn{
    background-image: url("../images/pinkButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    color:#FFF;
    font-size: 8vw;
    margin: 2% 5%;
    padding: 4vw;
    padding-top: 6vw;
    width: 40%;
    z-index: 10;
}

.red-btn{
    background-image: url("../images/redButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    color:#FFF;
    font-size: 8vw;
    margin: 2% 5%;
    padding: 4vw;
    padding-top: 6vw;
    width: 40%;
    z-index: 10;
}


.carousel-container {
    height: 55% !important;
    margin-bottom: 20%;
}

.carousel-container ul {}

.carousel-container ul li {
    /* transition: width .5s, height .5s, top .5s, left .5s;
        -webkit-transition: width .5s, height .5s, top .5s, left .5s;
        */
    border: none;
}

.carousel-container ul li img {}

.selection-container{
    display: flex;
    margin: 30% 5%;
    align-items: center;
    justify-content: center;
}

.right{
    cursor: pointer;
    width: 20%;
    position: relative !important;
}

.left {
    cursor: pointer;
    transform: scaleX(-1);
    width: 20%;
    position: relative !important;
}

.banner-selection{
    background-image: url(../images/selectionTitle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 15% 0;
    font-size: 8vw;
    padding-top: 2.5%;
    transform: scale(1.2);
}



.font-luckiest{
    font-family: 'Luckiest Guy', cursive !important;
    color: white;
    text-align: center;
}

.containerMainText{
    width: 90%;
    margin: 0 auto;
    background-color: #ccedff;;
    padding: 2vh;
    border-radius: 2vw;
}

#mainText h1{
    color:#491f9f;
    font-size: 4vh
}

@font-face{
	font-family: 'VAGRounded';
	src: url('../fonts/VAGRoundedStd-Bold.otf');
}

#mainText p{
    color:#326a97;
    font-size: 2.5vh;
    font-family: "VAGRounded";
}

@media screen and (orientation: portrait) {
    
    #portrait {
        display: block;
    }

    #landscape {
        display: none;
    }
}

.lock img{
    /*filter: brightness(20%) ;*/

}

.lock span{
    position: absolute;
    margin-left: 160px;
    margin-top:140px;
    z-index: 1;
    
}

.createGame,
.joinGame{
    transform: scale(0);
}


/*----- Landscape mode -----*/

@media screen and (orientation : landscape){
    
    #portrait {
        display: none;
    }

    #landscape {
        display: block;
    }
    
    #logo{
        margin: 0.5vw 0;
    }
    
    .logoTour {
        width: 40%;
        padding: 1vw;
        padding-bottom: 0;
    }

    .yogo-container{
        position: absolute;
        width: 100%;
    }
    
    .yogo-oona,
    .yogo-arturius{
        width: 33%;
    }
    
    .yogo-arturius{
        transform: translateX(5%);
    }
    
    .yogo-oona{
        transform: translateX(-15%);
    }

    .object-center{
        margin: 0 0;
        width: 70%;
        margin-top: 0.5vw;
        margin-left: 15%;
        justify-content: center;
    }

    .green-btn,
    .pink-btn,
    .red-btn{
        padding: 1vw;
        padding-top: 2vw;
        margin: 0; 
        font-size: 5vw;
        width: 30%;
    }

    .green-btn, 
    .red-btn {
        padding-top: 1vw;
        padding-bottom: 0;
    }
    
    .carousel-container {
        height: 65% !important;
        margin-bottom: 0;
    }

    .banner{
        font-size: 6vw;
        padding-top: 3%;
        margin: 7% 15%;
        margin-bottom: 3%;
    }
    
    .selection-container{
        margin: -5% 10%;
    }

    .left,
    .right {
        width: 15%;
    }
    
    .right{
       
        right: 10%;
    }

    .left {
        
        left: 10%;
    }

    .banner-selection{
        font-size: 6vw;
        padding-top: 3.5%;
        margin: 7% 0;
        transform: scale(1);
    }
    
    .carousel-container ul {
        top: 3% !important;
    }
    
    .containerMainText {
        width: 40%;
    }
    
    #mainText h1{
        font-size: 7vh
    }
    #mainText p{
        font-size: 3.5vh
    }
    
}





    
    




