html{
	height: 100%;
}

body{
	background-color:#34449e;
	color: #FFF;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: 'Luckiest Guy', cursive !important;
	/*background:url("../images/texture.png"), linear-gradient(to bottom, rgb(255, 69, 96) 50%, rgb(232, 5, 114) 100%);*/

}

.nameBlock{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 50%;
	transform: translate(-50%,0%);
	margin-top: -2%;
}

.nameBlock img{
	max-width: 200px;
	max-height: 9vh;
}

.buttonStart{
	background-image: url("../images/star_button_name.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: transparent;
	height: 12vh;
	width: 90%;
	color: white !important;
	font-size: 0.9em !important;
}

#arrowLeft img{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
/*Logo*/
#logoMath{
	position: relative;
	width: 100%;
	margin: 1% auto;
	text-align: center;
	height: 15%;
}


#logoMath img{
	height: 100%;
}
/*Nombre del yogotar*/
#nameYogo{
	position: relative;
}

#nameYogotar{
	width: 100%;
	top: 17%;
	position: absolute;
	text-align: center;
}

#nameYogotarStroke{
	width: 100%;
	top: 17%;
	position: relative;
	text-align: center;
	-webkit-text-stroke: 15px #34449E;
}
/*Datos input*/
#settings{
	padding: 2vh;
	text-align: center;
	font-size: 4vh;
}
/*Yogotar*/
#avatar{
	position: relative;
	height: 30vh;
	display: flex;
	width: auto;
	/* margin-top: 10%; */
}

.yogotarBlock{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 50%;
	transform: translate(-50%,0%);
	margin-top: 8vh;
}

.yogotarBlock img{
	/*height: 100%;*/
	height: 80%;
}

#settings input{
	font-size: 4vh;
	border-radius: 1vh;
	text-align: center;
	font-family: 'Luckiest Guy', cursive !important;
	color:#1B3473;
	padding: 1vh;
	margin: 3vh;
	max-width: 86%;
}

#start{
	opacity:0.5;
}

#MenuYogotar{
	display: table;
	position: absolute;
	width: 100%;
	height: 30%;
	z-index: 1;
	margin-top: 6vh;
}

#MenuYogotar .arrow-menu{
	width: 50%;
	/*max-width: 60vh;*/
	display: table-cell;
	vertical-align: middle;
}

#MenuYogotar .arrow-menu img{
	/*width: 20%;*/
	max-width: 10vh;
}

#arrowLeft{
	padding-right: 10vh;
	text-align: right;
}

#arrowRight{
	padding-left: 10vh;
	text-align: left;
}

hr{
	margin:1%;
}

#infoContainer{
	position: relative;
}

@media only screen and (max-width: 768px) {
	#infoContainer{
		position: relative;
		margin-top: 4%;
	}

	/*#avatar {*/
	/*margin-top: 5%;*/
	/*}*/

}


#readyPlayer{
	width: 100%;
	position: absolute;
	text-align: center;
	font-size: 5vh;
}
#readyPlayerStroke{
	width: 100%;
	position: absolute;
	text-align: center;
	-webkit-text-stroke: 15px #34449E;
	font-size: 5vh;
}

#waitOponent{
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 15%;
}



.loading span {
	display: inline-block;
	vertical-align: middle;
	width: .6em;
	height: .6em;
	margin: .19em;
	background: #007DB6;
	border-radius: .6em;
	animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
	background: #008FB2;
	animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
	background: #009B9E;
	animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
	background: #00A77D;
	animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
	background: #00B247;
	animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
	background: #5AB027;
	animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
	background: #A0B61E;
	animation-delay: 1.2s;
}


@keyframes loading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#locked{
	position: relative;
	top: -100%;
	transform: scale(0.5);
}


.lockYogotar{
	filter: brightness(20%);
}