.header {
  background-color: #070634;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;

  h1 {
    display: inline-block;
    width: 340px;
    font-size: 50px;
    line-height: $height-header;
    background-color: $color-header;
    position: relative;

    &::after {
      @include triangle(left, right, $height-header, $triangle-pos);
    }

    &::before {
      @include triangle(right, left, $height-header, $triangle-pos);
    }
  }
}

/**************************************
 ********* Media Queries **************
 **************************************/

@media only screen and (max-width: 992px) {
  .header {
    h1 {
      width: 150px;
      font-size: 30px;
      line-height: $height-header-992;

      &::after {
        @include triangle(left, right, $height-header-992, $triangle-pos-992);
      }

      &::before {
        @include triangle(right, left, $height-header-992, $triangle-pos-992);
      }
    }
  }
}
