.main .bubbles {
/*    background-image: url(../img/stars01.png) !important; */
    background-size: 20%;
    opacity: 0.4;
}

textarea {
    resize: none;
}

.header-custom{
    position: relative;
    background-color: #2d1f4e;
    text-align: center;
    padding: 1%;
    z-index: 1;
    font-size: 2vw;
}

.questions__border{
    position: relative;
    width: 80%;
    margin-top: 1%;
    height: 88%;
    left:50%;
    transform: translate(-50%,0%);
    border-radius: 1vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.question__new{
}

.questions__main{
    border-radius: 1vw;
    position: relative;
    width: 97%;
    height: 80%;
    padding-bottom: 0.4vw;
    margin-top: -10%;

}

.questions__head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.input--text{
    width: 60%;
    border-radius: 1vw;
    border-style: none;
    font-size: 1.5vw;
    padding: 1vw;
    color:#2d1f4e;
    margin-right: 15%;
}

::placeholder {
   color: #b3afbf;
}

.questions__button--preview,
.questions__button--updateexcel{
    height: 100%;
    
}
.questions__button--preview img,
.questions__button--updateexcel img{
    height: 90%;
    padding: 0.5vw;
}

hr{
    background-color: #662d91;
    height: 1%;
    margin-bottom: 1%;
    width: 90%;
    margin-left:4%;
    border:none;
}

.questions__container hr{
    position: absolute;
    margin-top: -1%;

}

.questions__body{
    position: relative;
    width: 100%;
    height: 80%;
    left: 0%;
    overflow-y: scroll;
    
}

.questions__botton--add{
    position: relative;
    background-color: #c32851;
    width: 100%;
    left:0%;
    padding: 1vw;
    text-align: center;
    border-radius: 1vw;
    margin-top: 1%;
    font-size: 2vw;
}

.questions__botton--add p{
    position: relative;
    border:2px dashed #FFF;
    width: 10%;
    left:50%;
    transform: translate(-50%,0%);
}

.answers__item,
.questions__item{
    position: relative;
    display: flex;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    align-items: flex-start;
    justify-content:space-between;
}

.questions__number{
    width: 6.5%;
    display: flex;
    text-align: center;
    border-radius: 100%;
    background-color: #f7e14b;
    height: 100%;

}

.questions__number span{
    font-size: 3vw;
    color: #FFF;
    width: 100%;
    padding: 0.4vw;
    -webkit-text-stroke-color: #2d1f4e;
    -webkit-text-stroke-width: 4px; 
}

.question__section--text{
    position: relative;
    width: 80%;
    left: 3%;
}

.questions__input{
    width: 90%;
}

.text_limit__answer,
.text_limit{
    position: absolute;
    right: 12%;
    bottom: 10%;
    color: #b3afbf;
}

.load_image--load{
   width: 8%; 
    text-align: center;
}

.load_image--load img{
    transform: translate(0%,-10%);
    width: 80%; 
}

.answers__item{
    margin-top: 0.3%;
    
}

.answer__letter{
    color:#FFF;
    font-size: 2vw;
    transform: translate(40%,30%);
    width: 9%;
    margin-left:1%;
}

.answer__input{
    width: 85%;
    margin-left: -4%;
}

.text_limit__answer{
    right: 20%;
    bottom: 10%;
}

.star__image--select{
    width: 4%; 
    text-align: center;
}

.star__image--select img{
    transform: translate(-240%,20%);
    width: 100%;
}

