.header-custom{
    position: relative;
    background-color: #2d1f4e;
    text-align: center;
    padding: 1%;
    z-index: 1;
    font-size: 2vw;
}

.questions__border{
    position: relative;
    width: 80%;
    margin-top: 5%;
    height: 70%;
    left:50%;
    transform: translate(-50%,0%);
    border-radius: 1vw;
    background-image: 
      linear-gradient(to left,#db7842,#e6a548);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.questions__main{
    border-radius: 1vw;
    background-color: #faf3cd;
    position: relative;
    width: 97%;
    height: 95%;
    padding-bottom: 0.4vw;

}

.questions__head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.input--text{
    width: 60%;
    border-radius: 1vw;
    border-style: none;
    font-size: 1.5vw;
    padding: 1vw;
    color:#2d1f4e;
    margin-right: 15%;
}

::placeholder {
   color: #b3afbf;
}

.questions__button--preview,
.questions__button--updateexcel{
    height: 100%;
    
}
.questions__button--preview img,
.questions__button--updateexcel img{
    height: 90%;
    padding: 0.5vw;
}

hr{
    background-color: #ec6f32;
    height: 1%;
    width: 90%;
    margin-left:5%;
    border:none;
}

.questions__body{
    position: relative;
    width: 100%;
    height: 80%;
    left: 0%;
    overflow-y: scroll;
    
}
.answers__item,
.questions__item{
    position: relative;
    display: flex;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    align-items: flex-start;
    justify-content:space-between;
}

.questions__number{
    width: 6.5%;
    display: flex;
    text-align: center;
    border-radius: 100%;
    background-color: #c32851;
    height: 100%;

}

.questions__number span{
    font-size: 3vw;
    color: #FFF;
    width: 100%;
    padding: 0.4vw;
    -webkit-text-stroke-color: #2d1f4e;
    -webkit-text-stroke-width: 2px; 
}

.question__section--text{
    position: relative;
    width: 80%;
}

.questions__input{
    width: 100%;
}

.text_limit__answer,
.text_limit{
    position: absolute;
    right: 1%;
    bottom: 0;
    color: #b3afbf;
}

.load_image--load{
   width: 10%; 
    text-align: center;
}

.load_image--load img{
    transform: translate(0%,-15%);
    width: 80%; 
}

.answers__item{
    margin-top: 0%;
}

.answer__letter{
    color:#2d1f4e;
    font-size: 3vw;
    width: 9%;
    margin-left:1%;
}

.answer__input{
    width: 100%;
    margin-left: -4%;
}

.text_limit__answer{
    right: 5%;
}

.star__image--select{
   width: 7%; 
    text-align: center;
}


.star__image--select img{
    transform: translate(-20%,-15%);
    width: 100%;
}

